body{
  background-color:hsl(0, 0%, 12%) ;
}

.container{
  border-radius: 20px;
  margin: auto;
  width: 270px;
}

.card{
  margin-top: 100px;
  text-align: center;
  background-color: hsl(0, 0%, 20%);  
  color: hsl(0, 0%, 100%);
  height: 410px;
  border-radius: 15px;
}

img{
   margin-top: 20px;
   border-radius: 50%; 
   width: 90px; 
   height: 85px; 
  }

h4{
  font-family: "Inter";
  margin-top: 5px;
  margin-bottom: 5px;
}

p{
  font-family: "Inter";
  font-size: 10px;
  color:  hsl(0, 0%, 100%) ;
  width: 260px;
}

h6{
  font-family: "Inter";
  color: hsl(75, 94%, 57%) ;
  margin-top: 5px;
}

.btn{
 width: 250px;
 border-radius: 5px;
 border-style: none;
 background-color: hsl(0, 0%, 30%);
 margin-top: 8px;
 padding: 7px;
}

.btn:hover{
  background-color: hsl(0, 0%, 60%);
  
}

a{
  font-family: "Inter";
  text-decoration: none;
  color:  hsl(0, 0%, 90%) ;
}

a:hover{
 color: rgba(30, 29, 29, 0.747);
}

 